<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmeet Clone</title>
    
    <script>
        const ROOM_ID="<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.4.5/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <link rel="stylesheet" href="meeting.css">
    
    <!-- bootstrap for fontstyling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- fontawesome for icons -->
    <script src="https://kit.fontawesome.com/8ddd25fe84.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="main">
        <div class="left-section">
            <div class="allvideos">
                <div id="video-grid">

                </div>
            </div>
            <div class="whiteboard-cont"><canvas id="whiteboard" height="1000" width="1000"></canvas>
                <div class="colors-cont">
                    <div class="black" onclick="setColor('black')"></div>
                    <div class="red" onclick="setColor('#e74c3c')"></div>
                    <div class="yellow" onclick="setColor('#f1c40f')"></div>
                    <div class="green" onclick="setColor('#badc58')"></div>
                    <div class="blue" onclick="setColor('#3498db')"></div>
                    <div class="orange" onclick="setColor('#e67e22')"></div>
                    <div class="purple" onclick="setColor('#9b59b6')"></div>
                    <div class="pink" onclick="setColor('#fd79a8')"></div>
                    <div class="brown" onclick="setColor('#834c32')"></div>
                    <div class="grey" onclick="setColor('gray')"></div>
                    <div class="eraser" onclick="setEraser()"><i class="fas fa-eraser"></i></div>
                    <div class="clearboard" onclick="clearBoard()"><i class="fas fa-trash-alt"></i></div>
                </div>
            </div>
        </div>
        <div class="right-section show_right">
            <div class=chat_system>
                <div class="chathead">
                     <h5>Chat</h5>
                </div>
                 <hr style="margin:0.4rem 0">
                <div class="container chat_window">
                    
                </div>
                <div class="send message_container">
                    <form autocomplete="off" action="#" id="send-container">
                        <input type="text" name="messageInp" id="messageInp" placeholder="Type message here...">
                        <button class="btn" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div> 
            <div class="right-section2 show_right2">
                <div class=participant_system>
                    <div class="partihead">
                         <h5>Participant</h5>
                    </div>
                     <hr style="margin:0.4rem 0">
                    <div class="parti_window">
                        <ul class="participant_box">

                        </ul>
                    </div>
                    <div class="participant_link">
                        <label for="">Link to join meeting:</label>
                        <span>
                        <input type="text" class="link">
                        <button class="copybtn" onclick="copylink()">Copy</button>
                        </span>
                    </div>
                </div>
            </div>   
    </div>
    <div class="controls">
        <div class="controls_time">    
            <span class="time">Time</span>
        </div>
        
        <div class="controlsblock">
            <div onclick="stopVideo()" class="controls_button video_button">
                <i class="fa-solid fa-video"></i>
                <span>Start Video</span>
            </div>
            <div onclick="muteAudio()" class="controls_button mute_button">
                <i class="fa-solid fa-microphone"></i>
                <span>Mute</span>
            </div>
            <div class="controls_button share_screen">
                <i class="fa-solid fa-tv"></i>
                <span>Present Now</span>
            </div>
            <div class="controls_button more_options more">
                <i class="fa-solid fa-ellipsis-vertical more"></i>
                <span class="more">More Options</span>
                <div class="more_options_content">
                    <a href="#whiteboard" class="white_board">White Board</a>
                    <a onclick="openparticipant()" class="more_participant">Participant</a>
                    <a href="#shareScreen" class="more_share">Share Screen</a>
                </div>
            </div>
            <div class="controls_button leave_call">
                <i class="fa-solid fa-phone-slash"></i>
                <span>Leave Call</span>
            </div>
        </div>

        <div class="controlsblock">
            <div onclick="openparticipant()" class="controls_button participant">
                <i class="fa-solid fa-user-group"></i>
                <span class="Participant">Participant</span>
            </div>
            <div class="controls_button chat_button">
                <i class="fa-solid fa-comment-dots"></i>
                <span class="Chat">Chat</span>
            </div>
        </div>
    </div>
    
    <script src="script.js"></script>
    
</body>
    
</html>